.tag {
  @apply py-2 px-[10px] bg-[#28DAA5] text-white rounded-[20px] text-[12px];

  &:hover {
    @apply bg-[#188e6b] border: 1px solid #188E6B;
  }
}

.btn {
  @apply bg-[#1fb588] text-[#fff] font-700 py-3 px-5 rounded-60px;

  &:hover {
    @apply bg-[#188e6b] border: 1px solid #188E6B;
  }
}

.btn-secondary {
  @apply bg-[#FFF] text-[#1Fb588] font-700 py-3 px-5 rounded-60px border border-[#1Fb588] border-solid;

  &:hover {
    @apply bg-[#188e6b] border: 1px solid #188E6B text-[#fff];
  }
}